// Specific CSS for your home-page
.card-homepage {
    padding: 4em;
    padding-top: 4em;
  .card-homepage-item {
    text-align: left;
  }
}
    .hashtags {
      font-weight: 800;
      font-size: 1.3em;
      text-transform: uppercase;
      letter-spacing: 0.5em;
    }

.card-how-it-works {
  margin: 4em;
  padding-top: 4em;
  .card-how-it-works-item {
    text-align: right;
      }
}

.card-last-features {
  padding-top: 4em;
  margin: 4em;
  .card-last-features-item {
    text-align: left;
      }
}

.card-new-features {
  margin: 4em;
  padding-top: 4em;
  .card-new-features-item {
    text-align: right;
      }
}
