<br>
<div class="container">
  <div class="form">
    <%= simple_form_for @topic, url: project_mission_topics_path(@project, @mission), method: :post do |f| %>
    <h2>Open a topic:</h2>
    <%= f.input :title, label: "Title:" %>

    <button type="button" class="btn btn-outline-primary" style="margin: 8px;">
      <%= f.button :submit, value: 'Start', "data-disable-with" => "Creating.." %>
    </button>
  <% end %>
  </div>
  <br>
</div>
