<div class="card text-center">
<div class="card-homepage">
  <br>
  <p class="card-homepage-item hashtags">
    <h1 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters logo huge text-shadow">L!ghtapp</span>
    <span class="line line2"></span>
  </span>
</h1>
  </p>
  <p class="card-homepage-item ">
    <span class="ml11">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters hashtags">#Intuitive #Collaborative #Minimalist</span>
      </span>
    </span>
  </p>
  <p class="card-homepage-item text-shadow">
    With our objectives oriented app we help you to follow the progress and we
    facilitate cooperation with your teams.
  </p>
  <p class="card-homepage-item text-shadow">
    Adapte to change, innovate, move forward ! We handle the rest for
    Y<i class="far fa-heart red puslar"></i>U
  </p>
</div>

<div class="card-how-it-works text-shadow">
  <p class="card-how-it-works-item hashtags"><strong>How it works</strong> </p>
  <p class="card-how-it-works-item">
    Start by defining an <i class="fas fa-hands-helping"> Objective</i>,
    then define one or many <i class="fas fa-tasks"> Action plans</i> and <i class="fas fa-thumbtack"> Tasks</i>.
  </p>
  <p class="card-how-it-works-item">
    Add some <i class="fas fa-user">+ Partners</i>, some <i class="fas fa-comments">+ Topics</i>
    and that's it ! Let's the magic happend !
  </p>
</div>

<div class="card-last-features text-shadow ">
  <p class="card-last-features-item hashtags "><strong>Last Features</strong> </p>
  <p class="card-last-features-item"> Your tasks are now better organized and it is even easier to identify priorities! <br>
   You don't have to do anything, we've taken care of everything.</p>
</div>
<div class="card-new-features text-shadow">
  <p class="card-new-features-item hashtags"><strong>New Feature</strong> </p>
  <p class="card-new-features-item"> It's now possible to add a small chat to your action plans. How cool is that ? </p>
</div>

</div>
