<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <%= link_to " Define a new objective", new_project_path, class: 'nav-link fas fa-hands-helping bigger-icon'%>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <br>
      <p class="card-title logo">Easier, Better, Faster, Stronger </p>
      <p class="card-text">With our objectives oriented app we help you to follow the progress and we facilitate cooperation with your teams. </p>
      <p class="card-text">Adapte to change, innovate, move forward ! We handle the rest for Y<i class="far fa-heart pink"></i>U </p>
      <p class="card-text"> <strong>#Intuitive #Collaborative #Effortless</strong></p>
      <br><hr><br>
      <p class="card-title"><strong>Last Features:</strong> </p>
      <p class="card-text"> Your tasks are now better organized and it is even easier to identify priorities! <br>
       You don't have to do anything, we've taken care of everything.</p>
      <p class="card-title"><strong>New Features:</strong> </p>
      <p class="card-text"> It's now possible to add a small chat to your action plans. How cool is that ? </p>
      <br><hr><br>
      <p class="card-title"><strong>How it works ?</strong> </p>
      <p class="card-text">
        Start by defining an objective, then define one or many action plans, add some collaborators, some topics and that's it, you are ready to go !
      </p>
    </div>
  </div>
  <br>
  <% @projects.each do |project|  %>
    <%= link_to project_path(project) do %>
      <div class="card-product">
        <div class="card-product-infos">
          <h1><span class="fas fa-hands-helping middle-icon"></span> <%= project.title %></h1>
        </div>
      </div>
    <% end %>
    <br>
  <% end %>



</div>
