// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "logo";
@import "checks";
@import "cards";
@import "buttons";
@import "task_form";
@import "container";

body {
  font-family: 'Roboto Condensed', sans-serif;
}
