  .logo{
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-right: 24px;
    margin-left: 24px;
    padding: 8px;

    p {
      text-decoration: underline;
    }
  }

  .color-red:hover {
    color: #bc002d
  }


  .police-logo {
    font-family: 'Indie Flower', cursive;
  }
